<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application>
        <service
            android:name="org.mozilla.tv.firefox.fxa.ADMService"
            tools:node="remove" />

        <receiver
            android:name="org.mozilla.tv.firefox.fxa.ADMReceiver"
            tools:node="remove" />
    </application>
</manifest>
